<div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Forgot Password</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <hr>
      <div class="form-group row">
          <div class="col-md-6">
              <button class="btn form-control btn-secondary" id="btn1" (click)="backToLogin()">Back</button>
          </div>
          <div class="col-md-6">
              <button type="submit" class="btn form-control btn-primary" id="btn1" (click)="backToLogin()">Submit</button>
          </div>
      </div>
      <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
    </form>
  </div>
