<div class="d-flex" id="wrapper">
    <app-menu></app-menu>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle"  (click)="toggleNavbar()" ><span class="navbar-toggler-icon"></span></button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                          UserName
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['core','changepassword']" routerLinkActive="router-link-active" ><i class="fa fa-key" aria-hidden="true"></i>
                          Change Password</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" [routerLink]="['core','settings']"><i class="fa fa-cogs" aria-hidden="true"></i>
                        Settings</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" [routerLink]="['']"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        LogOut</a>
                      </div>
                  </li>
                </ul>
              </div>
        </nav>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>
